header { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a {
    margin-left: 10px;
}

header p {
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;  
    margin-top: 150px;
}

button {
    width: 15%;
    background: darkturquoise;
    border-radius: 10px;
    margin-left: 10px;
}
.codeContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.welcomeContent, .headerContent {
    width: 100%;
    text-align: center;
}

.startQuiz {
    margin: 10px auto;
}

.choiceBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.answers {
    margin: 10px 0;
}

.codeHeader {
    width: 100%;
    text-align: center;
}
#questionHolder {
    width: 100%;
    margin: auto;
    text-align: center;
}

#highScoreContent {
    margin: auto;
    width: 40%;
    text-align: inherit;
}

.navBtn {
    margin-left: 0;
    margin-right: 10px;
    width: auto;
}

.highScoreP{
    font-weight: bold;
    font-size: larger;
}

#highScorePage {
    margin: auto;
    text-align: left;
    width: 20%;
    margin-top: 150px;
}

#highScorePage p {
    background-color: darkgray;
    padding-left: 10px;
}